# Data Inspection

# Objective
Load data and inspect for any anomalies.

# 1. Load Libraries and data

In [1]:
# To enable plotting graphs in Jupyter notebook
%matplotlib inline

In [2]:
# Pandas and Numpy libraries
import pandas as pd
import numpy as np

In [3]:
# Ploting Libraries
import matplotlib.pyplot as plt

In [4]:
# Seaborn for Statistical Plots
import seaborn as sns

In [5]:
# Split the X and y dataframes into training set and test set.
from sklearn.model_selection import train_test_split

In [6]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
#from sklearn import linear_model

In [7]:
# Stats model
import statsmodels.api as sm

In [8]:
# Calculate accuracy measures and confusion matrix
from sklearn import metrics

In [9]:
# Import warnings
#warnings.filterwarnings('always')
np.seterr(divide='ignore', invalid='ignore')

from warnings import simplefilter
# Ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [10]:
# Load Data
loan_df = pd.read_csv('Bank_Personal_Loan_Modelling.csv')

In [11]:
# Print Header of the file
loan_df.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0

In [12]:
# Drop the "ID" and "ZIP Code" column as it is useless for the model
loan_df = loan_df.drop('ID', axis=1)
loan_df = loan_df.drop('Experience', axis=1)
loan_df = loan_df.drop('ZIP Code', axis=1)

In [13]:
# Print Header of the file
loan_df.head(10)

,Age,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,49,4,1.6,1,0,0,1,0,0,0
1,45,34,3,1.5,1,0,0,1,0,0,0
2,39,11,1,1.0,1,0,0,0,0,0,0
3,35,100,1,2.7,2,0,0,0,0,0,0
4,35,45,4,1.0,2,0,0,0,0,0,1
5,37,29,4,0.4,2,155,0,0,0,1,0
6,53,72,2,1.5,2,0,0,0,0,1,0
7,50,22,1,0.3,3,0,0,0,0,0,1
8,35,81,3,0.6,2,104,0,0,0,1,0
9,34,180,1,8.9,3,0,1,0,0,0,0

# 2. Check how many records do we have

In [14]:
# Check shape of dataset
loan_df.shape

(5000, 11)

In [15]:
# Test whether there is any null value in the dataset or not.
loan_df.isnull().sum()

Age                   0
Income                0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [16]:
# Check dataset type
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
Age                   5000 non-null int64
Income                5000 non-null int64
Family                5000 non-null int64
CCAvg                 5000 non-null float64
Education             5000 non-null int64
Mortgage              5000 non-null int64
Personal Loan         5000 non-null int64
Securities Account    5000 non-null int64
CD Account            5000 non-null int64
Online                5000 non-null int64
CreditCard            5000 non-null int64
dtypes: float64(1), int64(10)
memory usage: 429.8 KB

In [17]:
# Analysze the distribution of the dependent (Personal Loan) column
loan_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,5000.0,45.338400,11.463166,23.0,35.0,45.0,55.0,67.0
Income,5000.0,73.774200,46.033729,8.0,39.0,64.0,98.0,224.0
Family,5000.0,2.396400,1.147663,1.0,1.0,2.0,3.0,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.7,1.5,2.5,10.0
Education,5000.0,1.881000,0.839869,1.0,1.0,2.0,3.0,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.0,0.0,101.0,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.0,0.0,0.0,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.0,0.0,0.0,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.0,0.0,0.0,1.0
Online,5000.0,0.596800,0.490589,0.0,0.0,1.0,1.0,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.0,0.0,1.0,1.0

In [18]:
# Check for negative numbers and change to zero
num = loan_df._get_numeric_data()
num[num < 0] = (np.negative(num))
#loan_df['Experience'].apply(abs)
#loan_df['Experience'] = loan_df['Experience'].abs()

In [19]:
loan_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Age,5000.0,45.338400,11.463166,23.0,35.0,45.0,55.0,67.0
Income,5000.0,73.774200,46.033729,8.0,39.0,64.0,98.0,224.0
Family,5000.0,2.396400,1.147663,1.0,1.0,2.0,3.0,4.0
CCAvg,5000.0,1.937938,1.747659,0.0,0.7,1.5,2.5,10.0
Education,5000.0,1.881000,0.839869,1.0,1.0,2.0,3.0,3.0
Mortgage,5000.0,56.498800,101.713802,0.0,0.0,0.0,101.0,635.0
Personal Loan,5000.0,0.096000,0.294621,0.0,0.0,0.0,0.0,1.0
Securities Account,5000.0,0.104400,0.305809,0.0,0.0,0.0,0.0,1.0
CD Account,5000.0,0.060400,0.238250,0.0,0.0,0.0,0.0,1.0
Online,5000.0,0.596800,0.490589,0.0,0.0,1.0,1.0,1.0
CreditCard,5000.0,0.294000,0.455637,0.0,0.0,0.0,1.0,1.0

In [20]:
# Scatter Matrix
loan_df_attr = loan_df.iloc[:, 0:11]
# Density Curve
#sns.pairplot(loan_df_attr, diag_kind='kde', hue = 'Personal Loan')

In [21]:
# Plot Histogram
#sns.pairplot(loan_df_attr)

In [22]:
# Look at the target column which is 'Personal Loan' to understand how the data is distributed amongst the various values
loan_df.groupby(["Personal Loan"]).count()

,Age,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
Personal Loan,,,,,,,,,,
0,4520,4520,4520,4520,4520,4520,4520,4520,4520,4520
1,480,480,480,480,480,480,480,480,480,480

# 3. Data Slicing

In [23]:
array = loan_df.values
X = loan_df.iloc[:,0:6]
y = loan_df.iloc[:,6]
#X = array[:,0:11] # select all rows and first 11 columns which are the attributes
#Y = array[:,7]   # select all rows and the 8th column which is the classification "Yes", "No" for loans
test_size = 0.30 # taking 70:30 training and test set
seed =7 # Random numbmer seeding for reapeatability of the code
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

In [24]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train, y_train)

print("Accuracy on training set: {:.2f}".format(svc.score(X_train, y_train)))
print("Accuracy on test set: {:.2f}".format(svc.score(X_test, y_test)))

Accuracy on training set: 0.99
Accuracy on test set: 0.91

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [26]:
svc = SVC()
svc.fit(X_train_scaled, y_train)

print("Accuracy on training set: {:.2f}".format(svc.score(X_train_scaled, y_train)))
print("Accuracy on test set: {:.2f}".format(svc.score(X_test_scaled, y_test)))

Accuracy on training set: 0.96
Accuracy on test set: 0.97

In [27]:
svc = SVC(C=1000)
svc.fit(X_train_scaled, y_train)

print("Accuracy on training set: {:.3f}".format(
    svc.score(X_train_scaled, y_train)))
print("Accuracy on test set: {:.3f}".format(svc.score(X_test_scaled, y_test)))

Accuracy on training set: 0.987
Accuracy on test set: 0.979

In [28]:
#getAccuracy(y_test , y_pred)

In [29]:
# Fit the model on 30%
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
model_score = model.score(X_test, y_test)
print(model_score)
print(metrics.confusion_matrix(y_test, y_predict))

0.9486666666666667
[[1348   14]
 [  63   75]]

In [30]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.3, random_state = 42 )
logit = sm.Logit( y_train, sm.add_constant( X_train ) )
lg = logit.fit()
lg.summary2()

Optimization terminated successfully.
         Current function value: 0.145180
         Iterations 9

<class 'statsmodels.iolib.summary2.Summary'>
"""
                          Results: Logit
==================================================================
Model:              Logit            Pseudo R-squared: 0.528
Dependent Variable: Personal Loan    AIC:              1030.2631
Date:               2019-08-06 16:54 BIC:              1073.3867
No. Observations:   3500             Log-Likelihood:   -508.13
Df Model:           6                LL-Null:          -1077.3
Df Residuals:       3493             LLR p-value:      1.0780e-242
Converged:          1.0000           Scale:            1.0000
No. Iterations:     9.0000
-------------------------------------------------------------------
            Coef.    Std.Err.     z      P>|z|    [0.025    0.975]
-------------------------------------------------------------------
const      -13.9746    0.7320  -19.0918  0.0000  -15.4092  -12.5400
Age          0.0152    0.0072    2.1055  0.0352    0.0011    0.0294
Income       0.0536    0.0029   18.7134  0.0000    0.0480    0.0593
Family       0.6993    0.0823    8.4951  0.0000    0.5379    0.8606
CCAvg        0.1103    0.0441    2.4982  0.0125    0.0238    0.1968
Education    1.5934    0.1235   12.8982  0.0000    1.3513    1.8355
Mortgage     0.0008    0.0006    1.2810  0.2002   -0.0004    0.0020
==================================================================

"""